html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0.06em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // Default
  background-color: $light-background;
  color: $light-color;

  @media #{$media-size-phone} {
    font-size: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background;
    color: $dark-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-background;
    color: $light-color;
  }

  [data-theme=dark] & {
    background-color: $dark-background;
    color: $dark-color;
  }

  [data-theme=light] & {
    background-color: $light-background;
    color: $light-color;
  }
}

h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2.125rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.35rem;
}

li {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
  &.circle {
    border-radius: 50%;
    max-width: 25%;
    margin: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.left-floated {
    margin-right: auto;
    float: left;
    img {
      margin: 20px 20px 20px 0;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.right-floated {
    margin-left: auto;
    float: right;
    img {
      margin: 20px 0 20px 20px;
    }
  }

  &.rounded {
    img {
      border-radius: 50%;
    }
  }

  figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

em, i, strong {
  // Default
  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  @media (prefers-color-scheme: light) {
    color: black;
  }

  [data-theme=dark] & {
    color: white;
  }

  [data-theme=light] & {
    color: black;
  }
}

ul {
  li {
    p {
      line-height: 1.75;
      margin: 0;
    }
  }
}

ul {
  li {
    pre {
      margin: 0.25rem 0;
      width: auto;
    }
  }
}

code {
  // font-family: "Fira Code";
  font-family: monospace;
  font-family: "Fira Mono", Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace !important;
  // font-weight: 500;
  font-display: auto;
  font-feature-settings: normal;
  padding: 5px 5px;
  margin: 2px 2px;
  border-radius: 5px;
  font-size: 1.125rem;
  // Default
  background: $light-background-secondary;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-secondary;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-secondary;
  }

  [data-theme=dark] & {
    background: #000000;
  }

  [data-theme=light] & {
    background: $light-background-secondary;
  }
}

pre {
  background: #000000;
  padding: 10px 10px 10px 1rem;
  border-radius: 8px;
  overflow: auto;

  @media #{$media-size-phone} {
    // commented out to allow horizontal scroll bars on code blocks on mobile devices
    // white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    // Default
    color: #ccc;

    @media (prefers-color-scheme: dark) {
      color: inherit;
    }
  
    @media (prefers-color-scheme: light) {
      color: #ccc;
    }
  
    [data-theme=dark] & {
      color: inherit;
    }
  
    [data-theme=light] & {
      color: #ccc;
    }
  }
}

blockquote {
  border-left: 3px solid #3eb0ef;
  margin: 40px;
  padding: 10px 20px;

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    content: "”";
    font-family: Georgia, serif;
    font-display: auto;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-left: 40px;
  padding: 0;

  @media #{$media-size-phone} {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  // Default
  background: $light-border-color;

  @media (prefers-color-scheme: dark) {
    background: $dark-border-color;
  }

  @media (prefers-color-scheme: light) {
    background: $light-border-color;
  }

  [data-theme=dark] & {
    background: $dark-border-color;
  }

  [data-theme=light] & {
    background: $light-border-color;
  }

}

// name in about section
#about-name {
  font-family: 'Fira Code', monospace;
  font-weight: 600; 
}

// name on homepage
#kirito {
  font-family: "Fira Code", monospace;
  font-weight: 600;
  margin: 0 auto;
}

#home-subtitle {
  margin: 0.5rem auto 1.5rem auto;
}

#social-icons a svg {
  margin: 0;

}

a:hover {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}


// theme wise colors
[data-theme=light] {

  .post-title {
    color: $light-color;
  }

  .post-info {
    color: $light-color;
  }

  a:hover {
    // color: $light-color;
    color: #eb3068;
  }

  .logo__cursor {
    background: #eb3068;
  }

  .post-item:hover {
    .post-title {
      color: #eb3068 !important;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: #eb3068;
  }

}

[data-theme=dark] {

  #kirito {
    color: #cdcdcd;
    // color: #82b41d;
  }

  #about-name {
    color: #dedede;
  }

  a {
    text-decoration: none;
    color: #82b41d;
  }

  a:hover {
    text-decoration: underline;
    color: yellowgreen;
  }

  .post-title {
    color: #82b41d !important;
  }

  .post-content {
    h2 {
      color: #cdcdcd;
    }
    h3 {
      margin-top: 2rem;
      color: #82b41d;
    }
  }

  .post-item:hover {
    .post-title {
      color: yellowgreen !important;
    }
  }

  .post-content {
    ::marker {
      color: #82b41d;
    }
  }

  .logo__text {
    color: $dark-color;
  }

  .logo__text:hover {
    color: yellowgreen;
  }

  a[title="Twitter"] {
    color: #bbbbbb;
  }

  a[title="Twitter"]:hover {
    color: #dddddd;
  }

  a[title="Github"] {
    color: #bbbbbb;
  }

  a[title="Github"]:hover {
    color: #dddddd;
  }

  .sharing-buttons a {
    color: $dark-color !important;
  }

}


#at-symbol {
  // font-family: "Merriweather Sans";
  font-family: "Fira Sans";
}

.logo__mark {
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  vertical-align: middle;
}

.logo__text {
  font-family: "Fira Code", monospace;
  font-weight: 600;
}

.next a:hover, .previous a:hover {
  text-decoration: none;
}







.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 5px;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  z-index: 100000;
}

.background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

// Prism JS Additionals
.highlight {
  margin: 30px auto;
}

@media #{$media-size-phone} {
  p, li, code {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  ul li pre, pre {
    padding: 0.5rem 0.75rem;
    margin: 5px 0 0 0;
  }
}

// 404 Page 

.btn-404 {
  .feather {
    width: 1rem;
    height: 1rem;
  }
  a, a:hover {
    text-decoration: none;
  }
}


// custom CSS for even smaller device dimensions

@media #{$media-size-small-screen} {

  ul li, ul li p {
    line-height: 1.6;
  }  

  li, p, span {
    font-size: 1rem;
  }

  .logo__text, .logo__mark {
    font-size: 1rem !important;
  }

  .logo__cursor {
    height: 1rem;
    width: 0.5rem;
  }

  nav {
    li, a {
      font-size: 1rem;
    }
  }

  .posts-list .post-item .post-title {
    font-size: 1rem;
  }

  .post-info {
    margin-top: 0.25rem !important;

    p {
      font-size: 1rem;
    }

  }

  .post-content {
    ul {
      margin: 2px 0 0 5px;
    }

    code, li, p, a {
      font-size: 1rem;
    }
  }

  code {
    padding: 3px 4px;
    margin: 1px;
  }

  .posts h1 {
    font-size: 1.35rem;
  }

  h1, .post-title {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.35rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

